<style>
  .required::after {
    content: "*";
    color: red;
  }
  .text-red-500 {
    color: #b91c1c;
  }
</style>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      class="mx-auto h-10 w-auto"
      src="..\assets\angular-logo.png"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in to your account
    </h2>

    <form
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      class="space-y-6"
    >
      <div class="form-group">
        <label
          for="firstName"
          class="required block text-sm font-medium leading-6 text-gray-900"
        >
          First Name
        </label>
        <input
          id="firstName"
          name="firstName"
          type="text"
          autocomplete="firstName"
          required
          class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          [(ngModel)]="registerModel.firstName"
          #firstName="ngModel"
        />
        <div
          *ngIf="
            firstName.invalid &&
            (firstName.dirty || firstName.touched || submitted)
          "
          class="text-red-500"
        >
          <p *ngIf="firstName.errors?.['required']">First name is required.</p>
        </div>
      </div>

      <div>
        <label
          for="lastName"
          class="required block text-sm font-medium leading-6 text-gray-900"
        >
          Last Name
        </label>
        <input
          id="lastName"
          name="lastName"
          type="text"
          autocomplete="lastName"
          required
          class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          [(ngModel)]="registerModel.lastName"
          #lastName="ngModel"
        />
        <div
          *ngIf="
            lastName.invalid &&
            (lastName.dirty || lastName.touched || submitted)
          "
          class="text-red-500"
        >
          <p *ngIf="lastName.errors?.['required']">Last name is required.</p>
        </div>
      </div>

      <div>
        <label
          for="email"
          class="required block text-sm font-medium leading-6 text-gray-900"
        >
          Email address
        </label>
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
          email
          class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          [(ngModel)]="registerModel.email"
          #emailField="ngModel"
        />
        <div
          *ngIf="
            emailField.invalid &&
            (emailField.dirty || emailField.touched || submitted)
          "
          class="text-red-500"
        >
          <p *ngIf="emailField.errors?.['required']">Email is required.</p>
          <p *ngIf="emailField.errors?.['email']">
            Please enter a valid email.
          </p>
        </div>
      </div>

      <div>
        <label
          for="password"
          class="required block text-sm font-medium leading-6 text-gray-900"
        >
          Password
        </label>
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="new-password"
          required
          class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          [(ngModel)]="registerModel.password"
          #passwordField="ngModel"
        />
        <div
          *ngIf="
            passwordField.invalid &&
            (passwordField.dirty || passwordField.touched || submitted)
          "
          class="text-red-500"
        >
          <p *ngIf="passwordField.errors?.['required']">
            Password is required.
          </p>
        </div>
      </div>

      <div>
        <label
          for="confirmPassword"
          class="required block text-sm font-medium leading-6 text-gray-900"
        >
          Confirm Password
        </label>
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          autocomplete="new-password"
          required
          class="form-control block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          [(ngModel)]="registerModel.confirmPassword"
          #confirmPasswordField="ngModel"
        />
        <div
          *ngIf="
            confirmPasswordField.dirty ||
            confirmPasswordField.touched ||
            submitted
          "
          class="text-red-500"
        >
          <p *ngIf="confirmPasswordField.errors?.['required']">
            Confirming password is required.
          </p>
          <p *ngIf="registerModel.password !== registerModel.confirmPassword">
            Passwords must match.
          </p>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Register
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a
        routerLink="/login"
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >Login</a
      >
    </p>
  </div>
</div>
